@page
@model EvangelionDatabase.Pages.Evangelions.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Evangelion[0].EVAName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Evangelion[0].Description)
            </th>
            <th>
                @Html.DisplayName("Pilot(s)")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Evangelion[0].Picture)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Evangelion) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EVAName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @foreach (var pilot in item.PilotEvangelions!)
                {
                    @pilot.Pilot.FirstName <br/>
                    @pilot.Pilot.LastName <br/>
                }
                @if (item.PilotEvangelions.Count == 0)
                {
                    @:Pilot Not Assigned
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Picture)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.EvangelionID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.EvangelionID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.EvangelionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
