@model MailroomApplication.Models.Package

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Package</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.packageID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.packageID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.postalService)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.postalService)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.checkInDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.checkInDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.checkOutDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.checkOutDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resident.residentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resident.residentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resident.unitNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resident.unitNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.packageID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
